nav
  width: 300px
  background-color: $nav-bg
  border-right: 1.5em solid $yellow
  position: fixed;
  z-index: 999
  height: 100vh
  box-shadow: 0 0 20px rgba($black, 0.3)
  a.logo
    img
      padding-top: 1em
  ul.navbar
    list-style: none
    text-align: center;
    margin: 0
    padding: 0
    padding-top: 5em
    position: absolute;
    width: calc(300px - 1.5em);
    top: 50%;
    transform: translateY(-50%);
    li a
      text-decoration: none;
      img
        width: 30%
      span
        display: block;
        color: $purple
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px
        font-family: "Neou"
        line-height: 2.5

  .hamburger-menu
    display: none;
